/* Importando a fonte Saira */
@import url('https://fonts.googleapis.com/css2?family=Saira:ital,wght@0,100..900;1,100..900&display=swap');

/* Importando o framework */
@import "tailwindcss";


*{ /*Fonte para todo o sistema*/
  font-family: Saira, sans-serif;
}

@theme{ /* Cores usadas no sistema declarada na sessão */
  --color-dark-100: #1a1a1a;
  --color-dark-200: #1f1f1f;
  --color-dark-300: #2d2d2d;
  --color-dark-400: #3d3d3d;
  --color-purple: #8b5cf6;
  --color-pink: #ec4899;
  --color-blue: #3b82f6;
}

/* Criando a animação 'digitando' */
.typewriter {
  overflow: hidden;
  border-right: 0.15em solid #8b5cf6;
  white-space: nowrap;
  width: 0;
  /* animation: typing 3s steps(20, end) forwards, blink-caret 0.75s step-end 4;*/ /* Typing é a animação digitando, blink simula a tecla piscando */
  animation: typing 3s steps(20, end) forwards, blink-caret 0.75s step-end 4, remove-caret 0s 2.75s forwards;


}

@keyframes typing {
  from { width: 0; }
  to { width: 15ch; }
}

@keyframes blink-caret {
  from, to { border-color: transparent; }
  50% { border-color: #8b5cf6; }
}

/* remove o cursor no final */
@keyframes remove-caret {
  to { border-right: none }
}
